

 * {
    margin: 0;
    padding: 0;
}
.navebar{
    background-color: white;
    border-bottom: 2px solid cadetblue;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
    color: cadetblue;
    transition: all 0.3s;
}

a:hover{
  transform: scale(1.05);
}

.card {
    background-color: white;
    padding: 20px;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#submit_button{
    padding: 15px; width: 250px; background-color: white; border: 2px solid cadetblue; color: cadetblue; margin-top: 20px; font-size: 15px; transition: all 0.3s;
}

#submit_button:hover{
    background-color: cadetblue;
    color: white;
    cursor: pointer;
}