*{
    margin: 0;
    padding: 0;
}

.navebar{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
     text-decoration: none;
    color: #73AF6E;
}
a:hover{
  color: red;
}
table {
    width: 100%;
    border-collapse: collapse;   /* Removes double borders */
    margin-top: 20px;
}

th, td {
    border: 1px solid #444;      /* Table border */
    padding: 10px;               /* Space inside cells */
    text-align: left;            /* Align text */
}

th {
    background-color: #4CAF50;   /* Header color */
    color: white;
    font-weight: bold;
}



tr:hover {
    background-color: #ddd;      /* Highlight on hover */
}
