*{
    margin: 0;
    padding: 0;
}

.navebar{
    background-color: white;
    border-bottom: 2px solid cadetblue;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
    color: cadetblue;
    transition: all 0.3s;
}

a:hover{
  transform: scale(1.05);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body */
body {
    min-height: 100vh;
    background: #0f2027;
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Form Container */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Card */
.card {
    width: 350px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

/* Heading */
.card h1 {
    color: white;
    text-align: center;
}

/* Input Groups */
.user {
    margin-top: 23px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user:first-of-type {
    margin-top: 30px;
}

/* Labels */
.user label {
    font-size: 15px;
    color: white;
}

/* Inputs */
.user input {
    padding: 12px;
    font-size: 15px;
    outline: none;
    border: 2px solid cadetblue;
    margin-top: 3px;
    color: cadetblue;
    background: transparent;
    border-radius: 5px;
}

/* Password font */
#password {
    font-family: 'Verdana', sans-serif;
}

/* Forgot Password */
.card a {
    display: inline-block;
    margin-top: 15px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/* Login Button */
button {
    width: 100%;
    height: 50px;
    margin-top: 35px;
    font-size: 18px;
    background-color: cadetblue;
    outline: none;
    border: none;
    color: white;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4fa3a5;
}

/* Signup Text */
.card p {
    margin-top: 25px;
    font-size: 14px;
    color: white;
    text-align: center;
}

.card p a {
    color: rgb(44, 102, 104);
    font-weight: 500;
}
