*{
    margin: 0;
    padding: 0;
}

.navebar{
    background-color: white;
    border-bottom: 2px solid cadetblue;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
    color: cadetblue;
    transition: all 0.3s;
}

a:hover{
  transform: scale(1.05);
}