*{
    margin: 0px;
    padding: 0px;
}


.navebar{
    background-color: transparent;
    /* border-bottom: 2px solid ; */
    backdrop-filter: blur(50px);
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
    color: #fffdd0;
    transition: all 0.3s;
}

a:hover{
  transform: scale(1.05);
}

.welcome{
    height: 100px;
    /* width: 500px; */
    color: beige;
    border-radius: 3%;
    /* background-color: white; */
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}



.parentContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.containers{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fffdd0;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 0;
    overflow: hidden;
}
 /* div{
    display: block;
 } */

 .student{
    position: relative;
    overflow: hidden;
    height: 150px;
    /* background-color: white; */
    width: 350px;
    display: flex;
    color: fffdd0;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    /* border: 2px solid black; */
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.inner-student{
    transition: all 0.2s ease-in-out; position: absolute; width: 200%; height: 200%; left: 100%; background-color: rgba(95, 158, 160, 0.2);
}

.student:hover .inner-student{

    left: 0%;

}


.ancher{ 
    background-color: cadetblue;
    padding: 10px 15px;
    border-radius: 3px;
    color: white;
    margin-top: 10px;
    font-size: 14px;
    
}


footer{
    height: 50px;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    background-color: antiquewhite;
}
