*{
    margin: 0px;
    padding: 0px;
}


.navebar{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
     text-decoration: none;
    color: #73AF6E;
}
a:hover{
  color: red;
}
.welcome{
    height: 100px;
    /* width: 500px; */

    border-radius: 3%;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    align-items: center;
    /* margin-left: 350px;    */
}
/* .wel{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.welcome:hover{
    height: 110px;
}
h4,p{
    margin: 10px;
    padding-left: 10px;
}
#header{
    color:  #73AF6E;
}
body{
    background-color: #73AF6E;
}
.parentContainer{
width: 90%;
margin: 10px auto;
}
.containers{
    display: flex;
    /* justify-content: space-between; */
    /* align-content: space-evenly; */
    flex-wrap: wrap;
    gap: 30px;
    width: 1300px;
    margin: auto;
}
 /* div{
    display: block;
 } */

 .student{
     height: 150px;
    background-color: white;
    width: 350px;
    /* display: absolute; */
    /* left: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7%;   
    animation: slide 3s ease-in infinite alternate; 
    padding: 20px;

}
/* @keyframes slide {
    from{
        left: 0px;
        background-color: red;
    }
    to{
        left: 500px;
        background-color: blue;
    }
}  */
.ancher{ 
    height: 25px; 
     width: 100px ; 
    background-color:   rgb(204, 236, 138);
    padding: 10px;
    
}
.submit{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    color: wheat;
    background-color: green;
    height: 30px;
    width: 100px;
}
button:hover{
   background-color:  red;
}
/* .view{
    height: 100px;
    background-color: white;
    background-color: white;
    width: 200px;    
}
.attendance{
    height: 100px;
    background-color: white;
    width: 700px;
} */
footer{
    height: 50px;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    background-color: antiquewhite;
}
