*{
    margin: 0;
    padding: o;
}



.container{
    background-image: url("../practice.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    display: flex;
    padding: 20px 20px;
    flex-direction: column;
    backdrop-filter: blur(3px);
    border: 3px solid white;
    justify-content: start;
    align-items: center;
    width: 450px;
    border-radius: 5px;
}
.user{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;    
}
.user label{
    font-size: 15px;
    color: white;
}
.user input{
    padding: 12px;
    font-size: 15px;
    outline: none;
    border: 1px solid black;
    margin-top: 3px;
    color: #ffffff;
}
.forgot-password-link{
    width: 100%;
    margin-top: 15px;
    color: white;
}