*{
    margin: 0;
    padding: o;
}
.container{
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid cadetblue;
    justify-content: start;
    align-items: center;
    width: 450px;
    border-radius: 5px;
}

button{
    align-items: center;
    width: 200px;
}

button:hover{
    background-color: gray;
}