*{
    margin: 0;
    padding: 0;
}

.navebar{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
     text-decoration: none;
    color: #73AF6E;
}
a:hover{
  color: red;
}
table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    height: 200px;

}
th{

    background-color: rgb(117, 201, 117);
    color: white;
}
tr:hover{
    background-color: rgb(218, 213, 213);
}
td,th{
    border: 1px solid rgb(36, 35, 35);
      text-align: left;
      font-weight: bold;
      padding: 10px;
}
