*{
    margin: 0;
    padding: 0;
}

.navebar{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
     text-decoration: none;
    color: #73AF6E;
}
a:hover{
  color: red;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    height: 200px;
    width: 100%; 
}
td,th{
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}
tr:hover{
    background-color: rgb(221, 208, 208);
}
th{
    background-color: rgb(117, 201, 117);
    color: white;
}
input{
    width: 70%;
}
button{
    background-color: rgb(117, 201, 117) ;
    margin-top: 10px;
}