*{
    margin: 0;
    padding: 0;
}

.navebar{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
     text-decoration: none;
    color: #73AF6E;
}
a:hover{
  color: red;
}
div{
    background-color:  rgb(117, 201, 117);
    padding: 40px;
    display: flex;
    flex-direction: column;
    font-size: larger;
    gap: 20px;
}
input{
    width: 250px;
    height: 35px;
}
textarea{
  width: 350px;
}