*{
    margin: 0;
    padding: 0;
}

.navebar{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
     text-decoration: none;
    color: #73AF6E;
}
a:hover{
  color: red;
}
th{
    background-color: #73AF6E;;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    margin: 30px;
    padding: 30px;
}
th,td{
        border: 1px solid black;
        margin: 20px;
        padding: 30px;
}
tr:hover{
    background-color: grey;
    color: wheat;
}